*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
    text-decoration: none;
}
body{
    background-color: #ececea;
}
:root{
    --main-color : #cab273;
    --main-light-color : #fffbf0;
    --secondary-color : #551756;
}


/* New products */

#new_product{
    max-width: 1200px;
    width: 90%;
    margin: 90px auto;

}

.new-product-heading{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.new-product-heading h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: #202020;
}

.new-product-heading p{
    color:#707070;
    font-size: 0.8rem;
    font-weight: 400;

}
.new-product-box{
   max-width: 250px;
   width: 100%;
   border-radius: 5px;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
}
.new-product-img{
    width: 100%;
    height: 250px;
    display: flex;
    margin: auto;
    overflow: hidden;
    position: relative;
    
}

.new-product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    

}
.new-product-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 20px;

}

.new-product-text .new-product-title{
    color: #1d1d1d;
    font-weight: 400;
    font-size: 0.9rem;
}

.new-product-text span{
    color: var(--main-color);
    font-size: 0.9rem;
    font-weight: 400;
}
.new-product-img span{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: var(--main-color);
    color: #ffffff;
    padding: 3px 10px;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 4px;

}
.new-product-cart-btn{
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    background-color: #ffff;
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.10);
    background-color: var();
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all ease 0.3s;
}


.new-product-img:hover .new-product-cart-btn{
    bottom: 20px;
}

.new-product-cart-btn i{
    color: var(--secondary-color);
    margin-right: 5px;

}

.swiper-pagination{
    position: static !important;
    margin-top: 15px;
}

.swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
}