:root {
    --primary:#ffffff;
    --secondary:#832729;
  }
  
  body { background-color: var(--primary); }

.owl-carousel img   
{ height:220px;width: 40%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.container-fluid
{ border-color:var(--secondary);
    /* border-style: groove;  */

}

#subheading{
    font-family: 'Poppins';
font-variant:  small-caps;  
 padding-top:1%; 
  color: var(--secondary);
  text-align: center;
}

.image-content-wrapper{
    display: flex;
   
}

.content-part{
    background-color:var(--secondary); 
    opacity: .8;
    color:  var(--primary);
    padding: 5px;
    height:220px;width: 60%; 
    font-style: italic;
    font-size:medium;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

 .fa-solid{
   
    color: #ffd700;
     /* color:#ffdb58; */
     /* color:#d4a017; */
 font-size: 20px;
  
 }
.image-part{width:30%}
.content-part{width:70%}