
* {  
    box-sizing: border-box;  
    margin: 0;  
    padding: 0;  
}

/* NavBar*/

.navbar {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    background-color:#AA4C4E;
    padding: 15px 30px;  
}

img  {  
    width: 100px; 
    height: 100px;
}  

.nav-links {  
    list-style: none;  
    display: flex;  
}  

.nav-links li {  
    margin: 0 15px;  
}  

.nav-links a {  
    color: white;  
    text-decoration: none;  
    font-size: 16px;  
    transition: color 0.3s;  
}  

.nav-links a:hover {  
    color: #FFD700; /* Gold color on hover */  
}  

@media (max-width: 768px) {  
    .navbar {  
        flex-direction: column;  
        align-items: flex-start;  
    }  

    .nav-links {  
        flex-direction: column;  
        width: 100%;  
    }  

    .nav-links li {  
        margin: 10px 0;  
    }  

    img  {  
        width: 150px; 
        height: 150px;
    }  
}  
