.partners-h {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Poppins', sans-serif;;
}
.partners-h::after{
       display: flex;
       align-items: center;
       content: "";
       position: absolute;
       display: block;
       height: 3px;
       width: 70%;
       background-color: black;
       bottom: -5px;
       left: 30px;
} 
.logos-info{
   display: grid;
   grid-template-columns: repeat(2,1fr);
}
img{
    width: 150px;
}
.info{
    text-align:right ;
}
.readmore{
    width: 120px;
    height: 50px;
    background-color: inherit;
    color: rgb(0, 0, 0);
    position: relative;padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15p;
    font-weight: 900;
    border: 4px solid black;
    cursor: pointer;
}
.logo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

@media (max-width:1200px) and (min-width:0){
    .logos-info{
        display: flex;
        flex-direction: column;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 30PX;
    }
    .info{
        text-align: center;
    }
    

}